.container{
    background-color:rgb(19, 184, 118);
    height: 100%;
    width:950px;
    margin: auto;
    overflow:scroll;
}

h3{
    color: rgb(2, 72, 170);
  font-weight: 600;
}

.pais{
    color: rgb(2, 170, 170);
    font-weight: 600;
  
}