<ion-content [fullscreen]="true">
    
  <ion-row class="ion-justify-content-center">
      <ng-container *ngFor="let pais of this.paises">
          <ion-col size="12" size-lg="4">
              <ion-item lines="none">
                  <ion-thumbnail slot="start">
                      <img src="{{ pais.flags.png }}">
                  </ion-thumbnail>

                  <ion-label>
                      <h2>{{ pais.name.common }}</h2>
                      <h3>{{ pais.name.official }}</h3>
                  </ion-label>
              </ion-item>
              <ion-row>
                <ion-col>
                  <h3>Capital: {{pais.capital}}</h3>
                  <h3>População: {{pais.population}}</h3>
                  <h3>Área: {{pais.area}}</h3>
                  <h3>Região: {{pais.region}}</h3>
                  <h3>Sub-Região: {{pais.subregion}}</h3>
                  <ng-container *ngFor="let time of pais.timezones">
                    <h3>{{time}}</h3>
                  </ng-container>
                  <h3>{{pais.status}}</h3>
                </ion-col>
              </ion-row>
          </ion-col>
      </ng-container>
  </ion-row>
  
</ion-content>