// .custom-card {
//     width: 300px;
//     height: 300px;
//   }
  
.imagem{
    width: 300px;
    height: 300px; 
  }

  .custom-col {
    display: flex;
    flex-wrap: wrap;
  }

  .custom-text{
    display: flex;
    flex-direction: row;
  
  }
  
  .titulo{

  }
  

  