<app-menu></app-menu>

<ion-content [fullscreen]="true">

    <!-- CARDS INICIAIS -->
    <ion-row class="ion-justify-content-center">
        <ion-col size="6" size-lg="2" class="fundo marte"></ion-col>
        <ion-col size="6" size-lg="2" class="fundo venus"></ion-col>
        <ion-col size="6" size-lg="2" class="fundo jupiter"></ion-col>
        <ion-col size="6" size-lg="2" class="fundo saturno"></ion-col>
    </ion-row>

    <!-- TÍTULO -->
    <ion-row>
        <ion-col size="12" class="ion-text-center">
            <h1>SOLAR SYSTEM</h1>
        </ion-col>
    </ion-row>

    <!-- DESCRIÇÃO DO SISTEMA SOLAR -->
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="4" class="fundo solar"></ion-col>
        <ion-col size="12" size-lg="4">
            <ion-item lines="none">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut rerum modi facilis sed dolore voluptas, pariatur cupiditate ratione repudiandae dolorem culpa non dolores repellendus aliquid, vel veritatis corporis quae possimus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut rerum modi facilis sed dolore voluptas, pariatur cupiditate ratione repudiandae dolorem culpa non dolores repellendus aliquid, vel veritatis corporis quae possimus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut rerum modi facilis sed dolore voluptas, pariatur cupiditate ratione repudiandae dolorem culpa non dolores repellendus aliquid, vel veritatis corporis quae possimus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut rerum modi facilis sed dolore voluptas, pariatur cupiditate ratione repudiandae dolorem culpa non dolores repellendus aliquid, vel veritatis corporis quae possimus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut rerum modi facilis sed dolore voluptas, pariatur cupiditate ratione repudiandae dolorem culpa non dolores repellendus aliquid, vel veritatis corporis quae possimus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut rerum modi facilis sed dolore voluptas, pariatur cupiditate ratione repudiandae dolorem culpa non dolores repellendus aliquid, vel veritatis corporis quae possimus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut rerum modi facilis sed dolore voluptas, pariatur cupiditate ratione repudiandae dolorem culpa non dolores repellendus aliquid, vel veritatis corporis quae possimus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut rerum modi facilis sed dolore voluptas, pariatur cupiditate ratione repudiandae dolorem culpa non dolores repellendus aliquid, vel veritatis corporis quae possimus.
                </p>
            </ion-item>
        </ion-col>
    </ion-row>

     <!-- TÍTULO -->
    <ion-row>
        <ion-col size="12" class="ion-text-center">
            <h1>PLANETS</h1>
        </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <ion-col size="10" size-lg="8">

            <ion-row>
                <ion-col size="6" size-lg="3">
                    <ion-card>
                        <ion-card-title>
                            <img src="https://i.pinimg.com/564x/f9/86/81/f9868139ebc9f9c889bea2ae3cff3c30.jpg">
                        </ion-card-title>
                        <ion-card-content class="ion-text-center">
                            <h3>MARTE</h3>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="6" size-lg="3">
                    <ion-card>
                        <ion-card-title>
                            <img src="https://i.pinimg.com/564x/47/8d/e2/478de2743e9982ccc651f98b2166858b.jpg">
                        </ion-card-title>
                        <ion-card-content class="ion-text-center">
                            <h3>JUPITER</h3>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="6" size-lg="3">
                    <ion-card>
                        <ion-card-title>
                            <img src="https://i.pinimg.com/564x/9e/4b/ba/9e4bba6bb08311c85c1769f0b6d6bd54.jpg">
                        </ion-card-title>
                        <ion-card-content class="ion-text-center">
                            <h3>SATURNO</h3>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="6" size-lg="3">
                    <ion-card>
                        <ion-card-title>
                            <img src="https://i.pinimg.com/564x/86/09/4a/86094aaea528ee234e6876f5e1ccaf98.jpg">
                        </ion-card-title>
                        <ion-card-content class="ion-text-center">
                            <h3>URANO</h3>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="6" size-lg="3">
                    <ion-card>
                        <ion-card-title>
                            <img src="https://i.pinimg.com/736x/0d/4f/2e/0d4f2e5b326fd4c8d5c220981fd25646.jpg">
                        </ion-card-title>
                        <ion-card-content class="ion-text-center">
                            <h3>VÊNUS</h3>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="6" size-lg="3">
                    <ion-card>
                        <ion-card-title>
                            <img src="https://i.pinimg.com/564x/94/28/87/94288773d9ae32a1eecb3cbb31133b7f.jpg">
                        </ion-card-title>
                        <ion-card-content class="ion-text-center">
                            <h3>PLUTÃO</h3>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="6" size-lg="3">
                    <ion-card>
                        <ion-card-title>
                            <img src="https://i.pinimg.com/564x/94/85/1f/94851fe3f14e8d3127b256437ceece46.jpg">
                        </ion-card-title>
                        <ion-card-content class="ion-text-center">
                            <h3>MERCÚRIO</h3>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="6" size-lg="3">
                    <ion-card>
                        <ion-card-title>
                            <img src="https://i.pinimg.com/564x/71/64/c6/7164c6d4d20de57f2b9d29ffb6ebb732.jpg">
                        </ion-card-title>
                        <ion-card-content class="ion-text-center">
                            <h3>TERRA</h3>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>

        </ion-col>
    </ion-row>

</ion-content>
<app-footer></app-footer>
